.btn {
  cursor: pointer;
  &:hover {
    background-color: rgb(129, 69, 69);
  }
  transition: 0.5s;
  border: none;
  background-color: brown;
  color: white;
  border-radius: 50px;
  padding: 25px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.btn2 {
  background-color: white;
  border: none;
  border-radius: 50px;
  padding: 25px;
  cursor: pointer;
  &:hover {
    background-color: gray;
  }
  transition: 0.5s;
}
.btn3 {
  margin-bottom: 50px;
  border-radius: 50px;
  padding: 10px;
  border: none;
  cursor: pointer;
  background-color: white;
  &:hover {
    background-color: gray;
  }
  transition: 0.5s;
}
.btn4 {
  border-radius: 50px;
  padding: 10px;
  border: none;
  background-color: brown;
  margin-bottom: 50px;
  cursor: pointer;
}
