footer {
  color: rgb(108, 117, 125);
  display: flex;
  justify-content: center;
  align-items: center;
  // text-align: center;
  background-color: rgb(248, 249, 250);

  p {
    margin-bottom: 2.5%;
    margin-top: 2.5%;
  }
}
